@import url('https://fonts.googleapis.com/css?family=Vollkorn');
body {
    font-family: arial, sans-serif;
}

hr {
    border: 1px solid #eeedea; 
}

*{
    padding: 0px;
    margin: 0px;
}

#maindiv {
    width: 100%;
    height: 500px;
    background-image: url('img/codeBackground4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#navdiv {
    position: fixed;
    background:rgba(0, 0, 0, 0.4);
    width:100%;
    z-index: 2;
}

#navdiv ul {
    height: 60px;
    line-height: 70px;
    color: white;
    margin-right:15px;
}

#navdiv ul a {
    text-decoration: none;
    color: white;
    padding: 15px;
}

#navdiv ul li{
    list-style-type: none;
    display: inline-block;
    float: right;
}

#navdiv ul li:hover{
    background:rgba(100, 100, 100, 0.4);
    transition: all 0.40s ;
}

#navdiv h1{
    width: 300px;
    float: left;
    cursor: pointer;
    margin-left: 15px;
}

.second-row{
    display:flex;
}

/* http://vanseodesign.com/css/vertical-centering/ */
#header-div{
    text-align:center;
    display:block;
    position: absolute;
    left: 0;
    right: 0;
    top: 350px;
    margin: auto;
}

 #header-div header, #header-div p{
    color:rgb(235, 235, 235);
 }

#main-wrapper {
    top:700px;
    padding:40px 10px;
    background:#fcfbf7; 
}

.project {
    padding:10px;
    /* display:flex; */
    flex-direction: row;
    line-height: 1.2em;
    /* max-height:400px; */
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 2fr 1fr 1fr 2fr 1fr 1fr; */
    grid-template-rows: 50px 10px 1fr auto auto;
    grid-gap:1em;
    /* grid-auto-columns: min-content; */
    grid-auto-columns:150px;
}

.image-container{
    /* flex: 1; */
    grid-row: 1/6;
    /* line-height: 115px; */
    text-align: center;
    background-color:blue;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.project-pic {
     position: relative;
    /* position: absolute;  */
    top: 50%;
    transform: translateY(-50%);
    max-height:100%;
    max-width:100%;
    z-index: 1;
}

.project-text {
    /* flex:2; */
    padding: 0 10px;
}

.project h3{
    text-align:center;
}

.proud, .date {
    text-align: center;
    align-self: baseline;
    /* height:90px; */
    /* background: #3b55a0; */
}

.tech-used{
    grid-column: 2/4;
}

.summary{
    grid-column: 2/4;
}

.project-text h3 {
    text-align:center;
}

.project-title {
    text-align:center;
    grid-column: 2/4;
    /* grid-column-start: 2; */
    /* grid-column-end: 3; */
    /* grid-column: auto / span 2; */
    /* column-span: all; */
}

.project, #header-div{
    font-family: Vollkorn,Helvetica,Arial,sans-serif;
    font-size: 1.3em;
    line-height: 1.7em;
    color: #595352;
}

.project-text p::first-letter{
    display:block;
    float: left;
    font-size: 3em;
    line-height: 0.8em;
    padding: 0 10px;
    color: tan;
    font-weight: bold;
}

.buttons{
    text-align: center;
    /* background: #595352; */
}

/*tablet resizing*/
@media (max-width: 880px) {
    #main-wrapper{
         background:red;
     }

 }
 
 /*mobile resizing*/
 @media (max-width: 520px) {
     
 }

 /* facebook style button */
 /* https://www.youtube.com/watch?v=7ilBPlUKJRI */
 .project-button{
     font-family: Arial, Helvetica, sans-serif;
    display:inline-block;
    color:#fff;
    padding:5px 8px;
    text-decoration:none;
    font-size:0.8em;
    border-radius:3px;
    text-shadow:0 -1px 0 rgba(0,0,0,0.2);

     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c69ba+0,3b55a0+100 */
    background: #4c69ba; /* Old browsers */
    background: -moz-linear-gradient(top, #4c69ba 0%, #3b55a0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4c69ba 0%,#3b55a0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4c69ba 0%,#3b55a0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c69ba', endColorstr='#3b55a0',GradientType=0 ); /* IE6-9 */
 }

 .project-button:hover{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5b7bd5+0,4864b1+100 */
    background: #5b7bd5; /* Old browsers */
    background: -moz-linear-gradient(top, #5b7bd5 0%, #4864b1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #5b7bd5 0%,#4864b1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #5b7bd5 0%,#4864b1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b7bd5', endColorstr='#4864b1',GradientType=0 ); /* IE6-9 */
 }

 /* link style from www.si.com */
 /* link animation */
 .project p a{
    background-image: linear-gradient(180deg,transparent 0,#ffb900 0);
    -webkit-transition: background-position .15s ease-out;
    -moz-transition: background-position .15s ease-out;
    -ms-transition: background-position .15s ease-out;
    -o-transition: background-position .15s ease-out;
    transition: background-position .15s ease-out;
    background-position: 0 25px;
    background-repeat: no-repeat;
    box-shadow: none;
    padding: 0;
    color: #595352;
    cursor:pointer;
    text-decoration: none;
    /* text-align: center;
    align-content: center; */
}

.project-text p a:hover {
    text-decoration: none;
    background-position: 0px 2px;
}

.project p a:hover {
    text-decoration: none;
    background-position: 0px 2px;
}
/* end link transition */

/* Start how proud stars */
.stars li {
	list-style: none;
	display: inline-block;
}

.stars {
	margin: 0;
	padding: 0;
	display: inline-block;
	margin: 0 10px 0 10px;
}
/* End how proud */