@import url('https://fonts.googleapis.com/css?family=Vollkorn');
body {
    font-family: arial, sans-serif;
}

hr {
    border: 1px solid #eeedea; 
}

*{
    padding: 0px;
    margin: 0px;
}

#maindiv {
    width: 100%;
    height: 510px;
    background-image: url('img/Background Section.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#navdiv {
    position: fixed;
    background:rgba(0, 0, 0, 0.4);
    width:100%;
    z-index: 2;
    font-size: 1.1em;
}

#navdiv ul {
    height: 60px;
    line-height: 70px;
    color: white;
    margin-right:15px;
}

#navdiv ul a {
    text-decoration: none;
    color: white;
    padding: 15px;
}

#navdiv ul li{
    list-style-type: none;
    display: inline-block;
    float: right;
}

#navdiv ul li:hover{
    background:rgba(100, 100, 100, 0.4);
    transition: all 0.40s ;
}

.second-row{
    display:flex;
}

/* http://vanseodesign.com/css/vertical-centering/ */
#header-div{
    text-align:center;
    display:block;
    position: absolute;
    left: 0;
    right: 0;
    top: 435px;
    margin: auto;
}

 #header-div header, #header-div p{
    color:rgb(235, 235, 235);
 }

#main-wrapper {
    top:700px;
    padding:40px 150px;
    background:#fcfbf7; 
}

.project {
    padding:10px;
    flex-direction: row;
    line-height: 1.2em;
    display:grid;
    grid-template-columns:400px  1fr 1fr;
    grid-template-rows: 50px  auto  auto 40px;
    /* grid-template-rows: 50px  1fr  auto 20px; */
    grid-gap:1em;
    grid-auto-columns:150px;
}

.bottom-row{
    display:flex;
    grid-column: 2/4;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.project-pic {
    grid-row: 1/5;
    text-align: center;
    width:390px;
    height:390px;
    position: relative;
    border-radius: 10px;
}

.project-text {
    padding: 0 10px;
}

.project h3{
    text-align:center;
}

.proud, .date {
    text-align: center;
    align-self: baseline;
    flex:1;
}

.tech-used{
    grid-column: 2/4;
    align-self:end;
}

.summary{
    grid-column: 2/4;
}

.project-text h3 {
    text-align:center;
}

.project-title {
    text-align:center;
    grid-column: 2/4;
}

.project, #header-div{
    font-family: Vollkorn,Helvetica,Arial,sans-serif;
    font-size: 1.3em;
    line-height: 1.7em;
    color: #595352;
}

.project-text p::first-letter{
    display:block;
    float: left;
    font-size: 3em;
    line-height: 0.8em;
    padding: 0 10px;
    color: tan;
    font-weight: bold;
}

.buttons{
    text-align: center;
    flex:1;
}

/*tablet resizing*/
@media (max-width: 1380px) {
    #main-wrapper{
         background:red;
         padding:40px 40px;
     }

 }
 
 /*mobile resizing*/
 @media (max-width: 520px) {
     
 }

 /* facebook style button */
 /* https://www.youtube.com/watch?v=7ilBPlUKJRI */
 .project-button{
     font-family: Arial, Helvetica, sans-serif;
    display:inline-block;
    color:#fff;
    padding:5px 8px;
    text-decoration:none;
    font-size:0.8em;
    border-radius:3px;
    text-shadow:0 -1px 0 rgba(0,0,0,0.2);

     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c69ba+0,3b55a0+100 */
    background: #4c69ba; /* Old browsers */
    background: -moz-linear-gradient(top, #4c69ba 0%, #3b55a0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4c69ba 0%,#3b55a0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4c69ba 0%,#3b55a0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c69ba', endColorstr='#3b55a0',GradientType=0 ); /* IE6-9 */
 }

 .project-button:hover{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5b7bd5+0,4864b1+100 */
    background: #5b7bd5; /* Old browsers */
    background: -moz-linear-gradient(top, #5b7bd5 0%, #4864b1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #5b7bd5 0%,#4864b1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #5b7bd5 0%,#4864b1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b7bd5', endColorstr='#4864b1',GradientType=0 ); /* IE6-9 */
 }

 /* link style from www.si.com */
 /* link animation */
 .project p a{
    background-image: linear-gradient(180deg,transparent 0,#ffb900 0);
    -webkit-transition: background-position .15s ease-out;
    -moz-transition: background-position .15s ease-out;
    -ms-transition: background-position .15s ease-out;
    -o-transition: background-position .15s ease-out;
    transition: background-position .15s ease-out;
    background-position: 0 25px;
    background-repeat: no-repeat;
    box-shadow: none;
    padding: 0;
    color: #595352;
    cursor:pointer;
    text-decoration: none;
    /* text-align: center;
    align-content: center; */
}

.project-text p a:hover {
    text-decoration: none;
    background-position: 0px 2px;
}

.project p a:hover {
    text-decoration: none;
    background-position: 0px 2px;
}
/* end link transition */

/* Start how proud stars */
.stars li {
	list-style: none;
	display: inline-block;
}

.stars {
	margin: 0;
	padding: 0;
	display: inline-block;
    margin: 0 10px 0 10px;
    flex:1;
}
/* End how proud */

/* tooltip start */
/* https://www.youtube.com/watch?v=Al01BpmGaIA */
.tooltip a{
    display: block;
    width: 100px;
    border: 1px solid #fff;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.tooltip span{
    margin-top: 10px;
    display:none;
}

.tooltip:hover span{
    display: block;
    width: 200px;
    padding: 10px 10px; 
    border: 1px solid #fff;
    color: #220;
    margin-left: -50px;
    background: #fff;
}

.tooltip:hover:after{
    content: " ";
    background: #fff;
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 50px;
    margin-top: -70px;
    transform: rotate(45deg);
}